*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 3.2rem;
    font-style: italic;
}
h2{
    font-size: 2.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li,
p{

    font-size: 2rem;
    font-style: italic;
}